APP_PORT=8081
DATABASE_URL=postgresql+asyncpg://postgres:new life@localhost:5432/user_service
DATABASE_URL_SYNC=postgresql+psycopg2://postgres:new life@localhost:5432/user_service
REDIS_URL=redis://localhost:6379/0
JWT_SECRET_KEY=c44781474e23df6eff8c986225f051e6341c187e7297da6233e4e7afeb91aed7
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
EMAIL_SERVICE_URL=http://localhost:8082/mail/send